.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main-bg-dark.png') no-repeat 50%/cover;
    padding-top: 205px;

    &__title {
        width: 700px;
        margin-top: 10px;
    }

    &__btns {
        margin-top: 25px;
        display: flex;
        width: 250px;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        color: white;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            text-decoration: none;
            color: white;
        }

    }

    .link {
        color: white;
        font-weight: bold;

        position: relative;
        cursor: pointer;

        &:hover {
            text-decoration: none;
            color: white;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: -3px;
            width: 0;
            height: 2px;

            background-color: #25a5be;

            transition: width 0.5s;

        }

        &:hover:after {
            content: "";
            width: 100%;
            display: block;
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 2px;
            background-color: #25a5be;

            transition: width 0.5s;

        }
    }

    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
}